doctype html
html(lang='en')
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')

  body
    nav
      ul(class='nav-links')
        li 
          a(href='/') Home
        li
          a(href='/menu') Menu
        li
          a(href='/about') About Us
        li
          a(href='/comments') Comments

    main
      block content
    
    footer
      p 1234 W Imaginary Rd, Boise, ID 83701
      p(class='contact-info')
        a(href='mailto:jdoe@downtowndonuts.com') jdoe@downtowndonuts.com 
        | &nbsp;|&nbsp;
        a(href='tel:+12085196734') +1 208-519-6734


      p(class='footer-links') &#169; 2026 Downtown Donuts 
        | &nbsp;|&nbsp; 
        a(href='/terms') Terms of Use 
        | &nbsp;|&nbsp; 
        a(href='/privacy') Privacy Policy