extends layout

block content

    //-Order Online
    section(class='online-order')
    h2(class='menu-title') Order Online
    a(class='' href='') UberEats
    a(class='' href='') DoorDash

    //-Donuts
    section(class='menu-section')
    h2(class='menu-title') Donuts

    //-Coffee 
    section(class='menu-section')
    h2(class='menu-title') Drinks
