extends layout

block content

    //-Order Online
    section(class='online-order')
        img(class='donut-menu-logo' src='/images/DDLogo.png' alt='Downtown Donuts Logo')
        a(class='order-btn' href='') UberEats
        a(class='order-btn' href='') DoorDash
            
    hr(class='menu-divider')


    //-Main menu section
    section(class='menu-section') 

        //-Donut
        h2(class='menu-section-title') D O N U T S

        h3(class='menu-item') Chocolcate Donut
        p(class='item-desc') Chocolate frosting, rainbow sprinkles

        h3(class='menu-item') Glazed Donut
        p(class='item-desc') Vanilla glaze, light and fluffy dough

        h3(class='menu-item') Jelly-Filled Donuts
        p(class='item-desc') Strawberry jelly, powdered sugar

        h3(class='menu-item') Stawberry Glazed Donut
        p(class='item-desc') Strawberry glaze, pink frosting

        h3(class='menu-item') Boston Cream Donut
        p(class='item-desc') Vanilla custard, chocolate ganache

        h3(class='menu-item') Apple Cider Donut
        p(class='item-desc') Apple cider, cinnamon sugar coating

        h3(class='menu-item') Berliner Donut
        p(class='item-desc') Strawberry jam, powdered sugar

        h3(class='menu-item') Bomboloni Donut
        p(class='item-desc') Pastry cream, sugar coating


        hr(class='menu-divider')

        //-Coffee 
        h2(class='menu-section-title') D R I N K S

        h3(class='menu-item') Coffee
        p(class='item-desc') House blend, served hot or iced

        h3(class='menu-item') Espresso
        p(class='item-desc') Single or double shot

        h3(class='menu-item') Latte
        p(class='item-desc') Espresso, steamed milk

        h3(class='menu-item') Hot Choclolate
        p(class='item-desc') Real cocoa, whipped cream

        h3(class='menu-item') Lemonade
        p(class='item-desc') Fresh squeezed lemon, served over ice

        hr(class='menu-divider')

