
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  margin: 0;
  padding: 0;
}

/* Layout */
nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1rem 2rem;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 1rem;
  font-family: 'Montserrat', sans-serif;
}

.nav-links a {
  color: #F7F7F7;
  text-decoration: none;
}

body {
  background-color: #10291D;
  color: #F7F7F7;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

footer {
  text-align: center;
  padding: 1rem 2rem;
  background-color: #F7F7F7;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.9rem;
  color: #000000;
  border-top: 5px solid #F7C64A;
}

.footer-links {
  text-align: left;
  font-size: 0.8rem;
  font-family: 'Montserrat', sans-serif;
}

footer a {
  color: #000000;
  text-decoration: none;
}

/* Homepage */
.donut-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

/* Menu */
.online-order {
  display: flex;
  justify-content: flex-start;
  align-items: lef;
  padding: 1rem 4rem;
  gap: 1rem;
  margin-left: 5rem;
}

.donut-menu-logo {
  width: 120px;
}

.order-btn {
  display: inline-block;
  color: #F7F7F7;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  margin-left: 0.5rem;
  margin-top: 4rem;
  align-self: center;
}

.menu-section {
  text-align: center;
  color: #F7F7F7;
  font-family: 'Montserrat', sans-serif;
}

.menu-section-title{
  font-size: 2rem;
  letter-spacing: 0.5rem;
  margin-bottom: 1rem;
}

.menu-divider {
  border: none;
  border-top: 2px solid #F7C64A;
  margin: 1.5rem 7rem;
}

.menu-item {
  font-size: 1rem;
  margin-top: 0.7rem;
}

.item-desc {
  font-size: 0.9rem;
}

/* Abous Us */
.about-us {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  color: #F7F7F7;
  text-align: center;
}

.about-title {
  font-size: 3rem;
  margin-top: 1rem;
  margin-bottom: 4rem;
}
.about-us p {
  font-size: 1rem;
  margin: 1rem;
}

.donut-shop {
  float: left;
  width: 40%;
  border: 2px solid #F7C64A;
  margin: 2rem;
}

/* Comment Page */
.comment-container {
  display: flex;
  flex-direction: row;
  height: 90vh;
}

.left-side {
  position: relative;
  flex-shrink: 0;
  width: 45%;
  height: 100%;
}

.comment-pic {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.comment-form {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  background-color: #143f2a;
  padding: 2rem;
  width: 80%;
  z-index: 1;
}

.comment-form input, 
.comment-form textarea {
  display: block;
  width: 100%;
  margin: 0 auto;
  padding: 0.8rem 0.8rem;
  border: 1px solid #F7C64A;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.9rem;
  background-color: transparent;
  color: #F7F7F7;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.submit-btn {
  display: block;
  width: 45%;
  margin: 0 auto;
  padding: 0.8rem 0.8rem;
  border: 1px solid #F7C64A;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.85rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 1.5rem;
}

.right-side {
  background-color: #10291D;
  overflow-y: auto;
  overflow-x: hidden;
  flex: 1;
  padding: 2rem;
}

.comment-board {
  height: 100%;
}

.comments-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  min-width: 0;
  align-items: start;
}

.comment-card {
  border: 1px solid #F7C64A;
  margin-bottom: 0.5rem;
  background-color: #143f2a;
  padding: 0.25rem;
  overflow: hidden;
  max-width: 100%;
}

.comment-name {
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 0.5rem;
  font-weight: bold;
  font-size: 1rem;
  overflow-wrap: break-word;
}

.comment-date {
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 0.5rem;
}

.comment-text {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5rem;
  overflow-wrap: break-word;

}

.no-comment {
  text-align: center;
  color: #000000;
  font-size: 0.9rem;
  font-family: 'Montserrat', sans-serif;

}

.comment-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-btn {
  font-family: 'Montserrat', sans-serif;
  color: #F7F7F7;
  font-size: 0.8rem;
  border: 1px solid #143f2a;
  padding-left: 1rem;
  padding-right: 1rem;
}

/* Legal Notice */

.legal-info {
  background-color: #F7F7F7;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  color: #000000;
  padding: 2rem 4rem;
  min-height: 90vh;
}

.legal-subtitle {
  font-size: 2rem;
  text-align: center;
  color: #000000;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.legal-list {
  list-style: disc;
  padding-left: 2rem;
}

.legal-info p {
  line-height: 2;
  margin: 2rem;
}


/* Phone use */
@media screen and (max-width: 768px) {

  .nav-links {
    justify-content: center;
    gap: 0.5rem;
    font-size: 0.85rem;
  }

  .donut-logo {
    width: 50%;
  }

  .online-order {
    align-items: center;
    margin-left: 0;
    padding: 1rem;
  }

  .order-btn {
      margin-top: 0.5rem;
  }

  .menu-divider {
      margin: 1.5rem 2rem;
  }

  .about-us p {
      margin: 0.5rem;
  }

  .comment-container {
    flex-direction: column;
    height: auto;
  }

  .left-side {
    width: 100%;
    height: 300px;
  }

  .right-side {
    width: 100%;
    overflow-y: visible;
  }

  .comments-grid {
    grid-template-columns: 1fr;
  }

  .legal-info {
    padding: 1rem;
  }
}